<div class='{% if center_text %}text-center{% endif %}'>
<form method='POST' action='{% url "questions:question_single" id=instance.id %}'> {% csrf_token %}
{{ form.errors }}
{% if title_size %}
<h{{ title_size }}>{{ instance.text }}</h{{ title_size }}>
{% else %}
<h1>{{ instance.text }}</h1>
{% endif %}


<div class="container mx-auto" style="width: 400px;">
<input type='hidden' name='question_id' value='{{ instance.id }}' />
<img src="{{instance.image.url}}" class="img-circle" alt="Cinque Terre">

</div>



{% if title_size %}
<h{{ title_size|add:1 }}>Your Answer</h{{ title_size|add:1 }}>
{% else %}
<h3>Your answer</h3>
{% endif %}

<div class='container'>
<div class="row">

{% for ans in instance.answer_set.all %}


  <div class="col-3 col-md-3">

<img src="{{ans.image.url}}" class="img-rounded" alt="Cinque Terre">
<input type='radio' name='answer_id' value='{{ ans.id }}' {% if user_answer.my_answer.id == ans.id %}checked=checked{% endif %} /> {{ ans.text }} <br/>
</div>
{% endfor %}

</div>
</div>
<br/>


<input class='btn btn-primary' type='submit' value='Save and continue' />



</form>

</div>
